:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #777;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.over-lay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #272727a4;
  left: 0;
  top: 0;
  z-index: 1;
  object-fit: cover;
}

.game-box {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 991px) {
  .game-box {
    width: 90%;
  }
}
header {
  background-color: #0077ff3d;
  border: 1px solid #0077ff94;
  border-radius: 4px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    margin-bottom: 15px;
  }
}
header .name .user-name,
header .name .attempts-number,
header .wrong-tries .wrong-tries-number,
header .time {
  font-weight: 700;
  text-shadow: 0 0 5px gray;
}
.game-body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
  gap: 10px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.game-body.no-clicking {
  pointer-events: none;
}

.game-body .img-box {
  position: relative;
  border: 5px solid var(--blue-color);
  transition: transform 0.3s;
  transform-style: preserve-3d;
  border-radius: 4px;
}

.game-body .img-box .font {
  position: absolute;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -5px;
  top: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  backface-visibility: hidden;
  font-size: 100px;
  color: white;
  font-weight: 900;
  border-radius: 4px;
}

@media (max-width: 767px) {
  .game-body .img-box .font {
    font-size: 50px;
  }
}

.game-body .img-box .back {
  width: 100%;
  height: 100%;
  background-color: #706d8b;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  overflow: hidden;
}

.game-body .img-box .back img {
  width: 101%;
  height: 101%;
  object-fit: cover;
}

.game-body .img-box.is-flipped,
.game-body .img-box.has-match {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  pointer-events: none;
}

.start-popup,
.finish-popup,
.prompt-user-popup {
  position: absolute;
  z-index: 5;
  width: 400px;
  background-color: var(--blue-color);
  padding: 20px;
  border-radius: 6px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  box-shadow: 0 0 40px 10px white;
  animation: popup-scaling 0.5s ease-in-out forwards;
  max-width: calc(100% - 30px);
  text-align: center;
}

.start-popup .popup-text,
.finish-popup .state-div {
  font-size: 20px;
  color: white;
  font-weight: 600;
  letter-spacing: -1px;
  margin-bottom: 20px;
}

.finish-popup .state-div span {
  color: #070d19;
  text-transform: uppercase;
  font-weight: 900;
}

.start-popup .input-div,
.finish-popup .btnDiv,
.prompt-user-popup {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.finish-popup .btnDiv {
  justify-content: center;
}
.start-popup .input-div input[type="text"] {
  border: none;
  outline: none;
  caret-color: var(--blue-color);
  border-radius: 4px;
  padding: 4px 6px;
  font-size: 17px;
  color: var(--blue-color);
  font-weight: 600;
  box-shadow: 0 0 7px 2px #8bbbe0;
  max-width: 70%;
}

.start-popup .input-div button,
.finish-popup .btnDiv button,
.prompt-user-popup button {
  border: none;
  outline: none;
  caret-color: var(--blue-color);
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  color: var(--blue-color);
  font-weight: 600;
  box-shadow: 0 0 7px 2px #8bbbe0;
  background-color: white;
  cursor: pointer;
  width: 100px;
}
.start-popup .input-div button:hover,
.finish-popup .btnDiv button:hover,
.prompt-user-popup button:hover {
  background-color: rgb(246, 246, 246);
}

.finish-popup .btnDiv button,
.prompt-user-popup button {
  width: fit-content;
}

@media (max-width: 400px) {
  .game-body {
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  }
  .game-body .img-box {
    border: 3px solid var(--green-color);
  }
  .game-body .img-box .font {
    left: -3px;
    top: -3px;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
  }
}

@keyframes popup-scaling {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
